@font-face {
  font-family: customFont;
  src: url(Dosis-VariableFont_wght.ttf);
}

@font-face {
  font-family: Norse;
  src: url(Norse-Bold.otf);
}

:root {
  font-family: customFont, system-ui, "Segoe UI", Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 80vh;
  max-width: 90vw;
  border-radius: 1rem;
  box-shadow: 5px 10px 8px #888888;
}

.hero {
  background-image: url(healthy-food-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: grey;
  height: 100%;
  width: 40%;
  position: relative;
}

.logo-bar {
  background: rgba(0, 0, 0, 0.4);
  height: 170px;
  margin-top: 30%;
  padding: 1rem;
  display: flex;
  color: white;
  font-size: 1rem;
}

img,
.page-title {
  max-height: 100%;
  line-height: 1.1;
}

.logo-bar > * {
  border: 3px solid white;
  padding: 5px;
}

.odin-fuel {
  display: block;
  font-family: Norse;
  font-size: 3rem;
}

.page-title {
  font-size: 2rem;
  text-wrap: nowrap;
}

.img-credit {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  width: 100%;
  position: absolute;
  bottom: 7px;
  font-size: 0.8rem;
  text-align: center;
}

.img-credit > a {
  color: white;
}
