@font-face {
  font-family: customFont;
  src: url(Dosis-VariableFont_wght.ttf);
}

:root {
  font-family: customFont, system-ui, "Segoe UI", Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 80vh;
  max-width: 90vw;
  border-radius: 1rem;
  box-shadow: 5px 10px 8px #888888;
}

.hero {
  background-image: url(healthy-food-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: grey;
  height: 100%;
  width: 40%;
}

.logo-bar {
  background: rgba(0, 0, 0, 0.4);
  height: 150px;
  margin-top: 30%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

.page-title {
  align-self: center;
}
