@font-face {
  font-family: customFont;
  src: url(Dosis-VariableFont_wght.ttf);
}

@font-face {
  font-family: Norse;
  src: url(Norse-Bold.otf);
}

:root {
  font-family: customFont, system-ui, "Segoe UI", Roboto;
}

body {
  font-family: customFont;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/*overflow?*/

.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 80vh;
  max-width: 90vw;
  border-radius: 1rem;
  box-shadow: 5px 10px 8px #888888;
}

.hero {
  background-image: url(healthy-food-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: grey;
  height: 100%;
  width: 40%;
  position: relative;
}

.logo-bar {
  background: rgba(0, 0, 0, 0.4);
  height: 170px;
  margin-top: 30%;
  padding: 10px;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 1rem;
}

img,
.page-title {
  max-height: 100%;
  line-height: 1;
}

.logo-bar > * {
  border: 3px solid white;
  padding: 5px;
  width: 80%;
}

.odin-fuel {
  /*display: block;*/
/* font-family: Norse;
  font-size: 3rem;
}

.odin-logo {
  flex-shrink: 2;
}

.page-title {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  /*text-wrap: nowrap;*/
/* }

.img-credit {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  width: 100%;
  position: absolute;
  bottom: 7px;
  font-size: 0.8rem;
  text-align: center;
} */
/* 
.img-credit > a {
  color: white;
}

main {
  height: 100%;
  border: 2px solid salmon;
  display: flex;
  flex-direction: column;
} */
/* 
main > * {
  flex: 1;
  border: 2px solid salmon;
}

.description {
  display: flex;
  flex-direction: column;
}

.description > .para-one {
  border: 2px solid salmon;
} */
